// top navbar
header.topnavbar-wrapper(ng-include="'app/views/partials/top-navbar.html'")

// sidebar
aside.aside(ng-include="'app/views/partials/sidebar.html'", ng-controller="SidebarController")
 
// Main section
section
   
    // Page content
    .content-wrapper(ui-view="", autoscroll="false", ng-class="app.viewAnimation")
    .overlay(loading)
        .ball-clip-rotate-multiple.load-icon-position
            div
            div
// Page footer
footer(ng-include="'app/views/partials/footer.html'")

