// top navbar
header.topnavbar-wrapper(ng-include="'app/views/partials/top-navbar.html'")

// sidebar
aside.aside(ng-include="'app/views/partials/sidebar.html'", ng-controller="SidebarController")

// Main section
section
  spinner(name="ScreenLoading")
    div.overlayView
    div.spinnerScreen
      div.sk-three-bounce
        div.sk-child.sk-bounce1
        div.sk-child.sk-bounce2
        div.sk-child.sk-bounce3
  // Page content
  .content-wrapper(ui-view="", autoscroll="false", ng-class="app.viewAnimation")
  spinner(name="ActionLoading")
    div.overlay
    div.spinner
      div.sk-three-bounce
        div.sk-child.sk-bounce1
        div.sk-child.sk-bounce2
        div.sk-child.sk-bounce3
// Page footer
footer(ng-include="'app/views/partials/footer.html'")

