// top navbar
header.topnavbar-wrapper(ng-include="'app/views/partials/top-navbar.html'")

// Main section
section
  // Page content
  .content-wrapper(ui-view="", autoscroll="false", ng-class="app.viewAnimation")

// Page footer
footer.col-lg-12(ng-include="'app/views/partials/footer.html'")

