h3(data-ng-init="fetchData()") {{dados.SLP_TIPO_DESC}} - {{dados.SLP_NOME}}

.container-fluid
  //FIRST COLUMN
  .col-md-6
    .row
      //GENERAL INFO VIEW START
      .col-md-12
        .panel.widget
          .panel-heading
            h3 Informações Gerais

          .panel-body
            .form-horizontal
              
              .col-sm-3.text-right
                label Autor Principal:
              .col-sm-9.text-left
                //author doesn't have id
                p(ng-if="dados.SLP_AUTORES[0]._id === undefined") {{dados.SLP_AUTORES[0].SLPa_NOME_FANTASIA}}
                //author has id
                a(ui-sref="app.representative({ id: '{{dados.SLP_AUTORES[0]._id}}' })", ng-if="dados.SLP_AUTORES[0]._id != undefined") {{dados.SLP_AUTORES[0].SLPa_NOME_FANTASIA}}
                
                //icon to show coauthors
                span(ng-show="dados.SLP_AUTORES.length > 1 && coAuthorsCollapsed", ng-click="coAuthorsCollapsed = !coAuthorsCollapsed")
                  em.fa.fa-plus-circle.sigalei-color(ng-show="coAuthorsCollapsed" alt="Mostrar co-autores")
                span(ng-show="dados.SLP_AUTORES.length > 1 && !coAuthorsCollapsed", ng-click="coAuthorsCollapsed = !coAuthorsCollapsed")
                  em.fa.fa-minus-circle.sigalei-color(ng-show="!coAuthorsCollapsed" alt="Esconder co-autores")

              //coauthors view, showing only if there are more than one author
              div(ng-show="!coAuthorsCollapsed")
                .col-sm-3.text-right
                  label Coautores:
                .col-sm-9.text-left
                  div(ng-show="!$first" ng-repeat="coauthor in dados.SLP_AUTORES")
                    strong(ng-if="coauthor._id === undefined") {{coauthor.SLPa_NOME_FANTASIA}}
                    a(ui-sref="app.representative({ id: '{{coauthor._id}}' })", ng-if="coauthor._id != undefined") {{coauthor.SLPa_NOME_FANTASIA}}

              
              .col-sm-3.text-right
                label Tema:
              .col-sm-9.text-left
                p {{dados.SLP_SL_TEMA || "-"}}

            
              .col-sm-3.text-right
                label Subtema:
              .col-sm-9.text-left
                p {{dados.SLP_SL_SUBTEMA}}
            
            
              .col-sm-3.text-right
                label Apreciação:
              .col-sm-9.text-left
                p {{dados.SLP_APRECIACAO || '-'}}

            
              .col-sm-3.text-right
                label Regime de Tramitação:
              .col-sm-9.text-left
                p {{dados.SLP_REGIME_TRAMITACAO || '-'}}
                
            
              .col-sm-3.text-right
                label Ementa:
              .col-sm-9.text-left
                p {{dados.SLP_EMENTA}}

            div(ng-if="dados.SLP_DOCUMENTOS.length > 0")
              .col-sm-3.text-right
                label Documentos:
              .col-sm-9
                table.table.table-bordered.table-striped(ng-table='docsTableParams', show-filter="true")
                  tbody
                    tr(ng-repeat="doc in $data")
                      td(data-title=" 'Nome' ", sortable="'SLD_TIPO'", filter="{ 'SLD_TIPO': 'text' }")
                        a(href="{{doc.SLD_LINK}}") {{doc.SLD_TIPO}}
                      td.text-center(data-title=" 'Data' ", sortable="'SLD_DATA'", filter="{ 'SLD_DATA': 'text' }") {{doc.SLD_DATA | date:'dd/MM/yyyy' || "Não Disponível"}}

      //GENERAL INFO VIEW END

      //TRAMIT VIEW START
      .col-md-12.tramit-panel
        .panel.widget
          .panel-heading
            h3 Tramitações
          .panel-body
            div(ng-repeat="tramitacao in tracksBill")
              ul(ng-class="timelineAlt ? 'timeline-alt' : 'timeline'", ng-init="timelineAlt=true")
                li.timeline-separator(ng-if="$index == 0 || tracksBill[$index].doc.SLT_DATA_TRAMITACAO.substring(0,4) != tracksBill[$index-1].doc.SLT_DATA_TRAMITACAO.substring(0,4)" data-datetime="{{tramitacao.doc.SLT_DATA_TRAMITACAO.substring(0,10) | date: 'yyyy'}}")
                // START timeline item
                li
                  .timeline-panel
                    .pull-left.timeline-custom-date.text-center {{tramitacao.doc.SLT_DATA_TRAMITACAO.substring(0,10) | date: 'MMM dd'}}
                    .timeline-custom-badge
                    .popover(ng-class="timelineAlt ? 'right' : 'left'")
                      h4.popover-title(ng-if="tramitacao.doc.SLT_ORGAO_ORIGEM_DESC !== undefined")
                        span.pull-right {{tramitacao.doc.SLT_CASA_TRAMITACAO}}
                        | {{tramitacao.doc.SLT_ORGAO_ORIGEM_DESC}}
                      .arrow
                      .popover-content
                        p {{tramitacao.doc.SLT_DESCRICAO_TRAMITACAO || "Sem descrição"}}
                      .popover-footer.text-center(ng-if="tramitacao.doc.SLT_LINK_INTEIRO_TEOR !== null")
                        a(href="{{tramitacao.doc.SLT_LINK_INTEIRO_TEOR}}")
                          em.icon-doc
                          label Inteiro Teor

      //TRAMIT VIEW END
  //FIRST COLUMN END

  //SECOND COLUMN
  .col-md-6
    .row
      //GENERAL STATUS VIEW START
      .col-md-12
        .panel.widget
          .panel-heading
            h3 Status Geral

          .panel-body
            .form-horizontal
              
              .col-sm-3.text-right
                label Apresentação:
              .col-sm-9.text-left
                p {{dados.SLP_DATA_APRESENTACAO | date:'dd/MM/yyyy'}}

            
              .col-sm-3.text-right
                label Última Ação:
              .col-sm-9.text-left
                p {{dados.SLP_DATA_ATUALIZACAO | date:'dd/MM/yyyy'}}

            .form-horizontal(ng-repeat="(house, data) in dados.SLP_STATUS", ng-show="data.FASE != -1")
              
              .col-sm-12
                h4 {{houseFullName(house)}}
              
              .col-sm-3.text-right
                label Órgão Responsável:
              .col-sm-9.text-left
                p {{data.ORG_DESC}}

            
              .col-sm-3.text-right
                label Fase:
              .col-sm-9.text-left
                p {{data.FASE}}

            
              .col-sm-3.text-right
                label Última Ação:
              .col-sm-9.text-left
                p {{data.DATA | date:'dd/MM/yyyy'}}

            
              .col-sm-3.text-right
                label Status:
              .col-sm-9.text-left
                p {{data.DESC}}

      //GENERAL STATUS VIEW END

      //POLL VIEW START
      .col-md-12
        .panel.widget
          .panel-heading
            h3 Votações
          .panel-body
            p(ng-if="billVotingList.length == 0") Não há votações para este projeto de lei.
            .panel.widget(ng-repeat="poll in billVotingList" ng-init="resultado = poll.SLV_RESULTADO")
              .form-horizontal
                
                .col-sm-3 Data:
                .col-sm-9 {{formattedDate(poll.SLV_DATA_HORA) | date:"dd/MM/yyyy 'às' HH:mm"}}
              
                .col-sm-3 Objeto:
                .col-sm-9 {{poll.SLV_OBJETO_VOTACAO}}
              
                .col-sm-3 Resultado:
                .col-sm-9
                  a.btn(ui-sref="app.bill.pollDetails({pollID: poll.id})", ng-class="resultado == 'Aprovado' ? 'bg-success' : 'bg-danger' ") {{poll.SLV_RESULTADO}}
      //POLL VIEW END
