h3 Calendário das Casas Legislativas

.container-fluid
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading.text-center
          h2 Calendário das Casas Legislativas 
        .panel-body
          .table-responsive
            table.table.table-bordered.text-center.test
              thead.sigalei-table-head
                tr
                  td Casa
                  td
                    | Início das sessões regulares
                    br
                    |  (1º semestre)
                  td
                    | Final das sessões regulares
                    br
                    |  (1º semestre)
                  |   
                  td
                    | Início das sessões regulares
                    br
                    |  (2º semestre)
                  td
                    | Final das sessões regulares
                    br
                    |  (2º semestre)
                  td Disponível no SigaLei

              tr.success
                td Congresso Nacional
                |   
                td 02 de fevereiro
                |   
                td 17 de julho
                |   
                td 1º de agosto
                |   
                td 22 de dezembro
                |   
                td SIM
              |  
              tr
                td Acre
                |   
                td 1º de fevereiro
                |   
                td 18 de julho
                |   
                td 31 de julho
                |   
                td 23 de dezembro
                |   
                td NÃO
              |  
              tr
                td Alagoas
                |   
                td 1º de fevereiro
                |   
                td 30 de junho
                |   
                td 1º de agosto
                |   
                td 15 de dezembro
                |   
                td NÃO
              |  
              tr
                td Amapá
                |   
                td 02 de fevereiro
                |   
                td.xl68 30 de junho
                |   
                td 1º de agosto
                |   
                td 22 de dezembro
                |   
                td NÃO
              |  
              tr
                td Amazonas
                |   
                td 1º de fevereiro
                |   
                td 16 de julho
                |   
                td 1º de agosto
                |   
                td 31 de dezembro
                |   
                td NÃO
              |  
              tr
                td Bahia
                |   
                td 15 de fevereiro
                |   
                td 30 de junho
                |   
                td 1º de agosto
                |   
                td 15 de dezembro
                |   
                td NÃO
              |  
              tr
                td Ceará
                |   
                td 02 de fevereiro
                |   
                td 17 de julho
                |   
                td 1º de agosto
                |   
                td 22 de dezembro
                |   
                td NÃO
              |  
              tr
                td Distrito Federal
                |   
                td 1º de fevereiro
                |   
                td 30 de junho
                |   
                td 1º de agosto
                |   
                td 15 de dezembro
                |   
                td NÃO
              |  
              tr
                td Espírito Santo
                |   
                td 02 de fevereiro
                |   
                td 17 de julho
                |   
                td 1º de agosto
                |   
                td 22 de dezembro
                |   
                td NÃO
              |  
              tr
                td Goiás
                |   
                td 15 de fevereiro
                |   
                td 30 de junho
                |   
                td 1º de agosto
                |   
                td 15 de dezembro
                |   
                td NÃO
              |  
              tr
                td Maranhão
                |   
                td 02 de fevereiro
                |   
                td 17 de julho
                |   
                td 1º de agosto
                |   
                td 22 de dezembro
                |   
                td NÃO
              |  
              tr
                td Mato Grosso
                |   
                td 02 de fevereiro
                |   
                td 17 de julho
                |   
                td 1º de agosto
                |   
                td 22 de dezembro
                |   
                td NÃO
              |  
              tr
                td Mato Grosso do Sul
                |   
                td 15 de fevereiro
                |   
                td 30 de junho
                |   
                td 16 de agosto
                |   
                td 15 de dezembro
                |   
                td NÃO
              |  
              tr.success
                td Minas Gerais
                |   
                td 1º de fevereiro
                |   
                td 18 de julho
                |   
                td 1º de agosto
                |   
                td 20 de dezembro
                |   
                td SIM
              |  
              tr
                td Pará
                |   
                td 15 de fevereiro
                |   
                td 30 de junho
                |   
                td 1º de agosto
                |   
                td 15 de dezembro
                |   
                td NÃO
              |  
              tr
                td Paraíba
                |   
                td 1º de fevereiro
                |   
                td 20 de junho
                |   
                td 05 de julho
                |   
                td 20 de dezembro
                |   
                td NÃO
              |  
              tr
                td Paraná
                |   
                td 02 de fevereiro
                |   
                td 17 de julho
                |   
                td 1º de agosto
                |   
                td 22 de dezembro
                |   
                td NÃO
              |  
              tr
                td Pernambuco
                |   
                td 1º de fevereiro
                |   
                td.xl68 30 de junho
                |   
                td 1º de agosto
                |   
                td 21 de dezembro
                |   
                td NÃO
              |  
              tr
                td Piauí
                |   
                td 15 de fevereiro
                |   
                td 30 de junho
                |   
                td 1º de agosto
                |   
                td 15 de dezembro
                |   
                td NÃO
              |  
              tr
                td Rio de Janeiro
                |   
                td 1º de fevereiro
                |   
                td 30 de junho
                |   
                td 1º de agosto
                |   
                td 31 de dezembro
                |   
                td NÃO
              |  
              tr
                td Rio Grande do Norte
                |   
                td 15 de fevereiro
                |   
                td 30 de junho
                |   
                td 1º de agosto
                |   
                td 15 de dezembro
                |   
                td NÃO
              |  
              tr
                td Rio Grande do Sul
                |   
                td 1º de fevereiro
                |   
                td 16 de julho
                |   
                td 1º de agosto
                |   
                td 22 de dezembro
                |   
                td NÃO
              |  
              tr
                td Rondônia
                |   
                td 15 de fevereiro
                |   
                td 30 de junho
                |   
                td 1º de agosto
                |   
                td 15 de dezembro
                |   
                td NÃO
              |  
              tr
                td Roraima
                |   
                td 15 de fevereiro
                |   
                td 30 de junho
                |   
                td 1º de agosto
                |   
                td 22 de dezembro
                |   
                td NÃO
              |  
              tr
                td Santa Catarina
                |   
                td 02 de fevereiro
                |   
                td 17 de julho
                |   
                td 1º de agosto
                |   
                td 22 de dezembro
                |   
                td NÃO
              |  
              tr.success
                td São Paulo
                |   
                td 1º de fevereiro
                |   
                td 30 de junho
                |   
                td 1º de agosto
                |   
                td 15 de dezembro
                |   
                td.xl69 SIM
              |  
              tr
                td Sergipe
                |   
                td 15 de fevereiro
                |   
                td 30 de junho
                |   
                td 1º de agosto
                |   
                td 15 de dezembro
                |   
                td NÃO
              |  
              tr
                td Tocantins
                |   
                td 1º de fevereiro
                |   
                td 8 de julho
                |   
                td 1º de agosto
                |   
                td 30 de dezembro
                |   
                td NÃO
