.col-md-12.pl0
    // START panel
    .panel.panel-dark.panel-flat
      .panel-heading
        h4 Trocar Senha
      .panel-body
        form.form-validate.mb-lg(role='form', name="changePasswordForm", novalidate='', ng-submit="changePassword()")
          .row
            .col-md-12
              .form-group.has-feedback
                input#id-old-password.form-control(type='password', name="old_password", ng-model="old_password", ng-minlength='4', ng-maxlength='18', required,  placeholder="Senha Antiga")
                span.fa.fa-lock.form-control-feedback.text-muted
                span.text-danger(ng-show="changePasswordForm.old_password.$dirty && changePasswordForm.old_password.$error.required") Campo Obrigatório
                span.text-danger(ng-show="changePasswordForm.old_password.$dirty && (changePasswordForm.old_password.$error.minlength || changePasswordForm.old_password.$error.maxlength)") Senha deve ter entre 4 e 18 caracteres
          .row
            .col-md-12
              .form-group.has-feedback
                input#id-new-password.form-control(type='password', name="new_password", ng-model="new_password", ng-minlength='4', ng-maxlength='18', required,  ui-validate=" '$value != old_password' ", ui-validate-watch=" 'old_password' ", placeholder="Nova Senha")
                span.fa.fa-lock.form-control-feedback.text-muted
                span.text-danger(ng-show="changePasswordForm.new_password.$dirty && changePasswordForm.new_password.$error.required") Campo Obrigatório
                span.text-danger(ng-show="changePasswordForm.new_password.$dirty && (changePasswordForm.new_password.$error.minlength || changePasswordForm.new_password.$error.maxlength)") Senha deve ter entre 4 e 18 caracteres
                span.text-danger(ng-show="changePasswordForm.new_password.$dirty && changePasswordForm.new_password.$error.validator") Senha igual à senha antiga
          .row
            .col-md-12
              .form-group.has-feedback
                input.form-control(type='password', name="new_password_confirm", ng-model="new_password_confirm", ui-validate="'$value==new_password'" ui-validate-watch="'new_password'", placeholder="Confirme a senha")
                span.fa.fa-lock.form-control-feedback.text-muted
                span.text-danger(ng-show="changePasswordForm.new_password_confirm.$dirty && changePasswordForm.new_password_confirm.$error.validator") Senhas digitadas são diferentes

          .row.text-center
              .col-md-12
                .form-group.has-feedback
                  button.btn.btn-success(type="submit", ng-disabled="changePasswordForm.$invalid") Trocar Senha
          .text-center(ng-if="showLoading")
            .ball-clip-rotate
              div
            p Carregando...
          .alert.text-center(ng-show='changeMessage && !showLoading', ng-class="changeSuccess?  'alert-success' : 'alert-danger' ") {{changeMessage}}
          .row.text-center
            hr
            p Caso tenha problemas em alterar seus dados, entre em contato pelo e-mail:
            p suporte@openlex.com.br
