h3 Casa Legislativa

.row
  .col-lg-12
    .panel
      .panel-heading
        label Detalhes
      .panel-boding
        p {{houseDetails.SLAs_DESC}}
.row
  .col-lg-12
    .panel
      .panel-heading
        label Mesa Diretora

.row
  .col-lg-6
    .panel
      .panel-heading
        label Eventos
  .col-lg-6
    .panel
      .panel-heading
        label Comissoes
