h3 {{houseDetails.SLAs_NOME}} - {{houseDetails.SLAs_SIGLA}}

.row
  .col-lg-12
    .panel
      .panel-heading
        h3 Detalhes
      .panel-body
        p {{houseDetails.SLAs_DESC}}
.row
  .col-lg-12
    .panel
      .panel-heading
        h3 Mesa Diretora
      .panel-body
        .row
          .col-md-2.text-center(ng-repeat="representative in houseDetails.SLAs_MESA_DIRETORA")
            .thumbnail
              .caption
                a(ui-sref="app.representative({ id: '{{representative.id}}' })")
                  img.thumb128.b(ng-src="data:image/jpeg;base64,{{representative.photo}}")
                  strong.sigalei-color {{representative.Nome}}
                p {{representative.Cargo}}

.row( ng-hide="houseDetails.SLAs_SIGLA == 'CN' ")
  .col-lg-12
    .panel
      .panel-heading
        h3 Deputados
      .panel-body
        table.table.table-bordered.table-striped.text-center(ng-table='representativeTableParams', show-filter="true")
          tbody
            tr(ng-repeat="representative in $data")
              td(data-title=" 'Nome' ", sortable="'nome'", filter="{ 'nome': 'text' }")
                a(ui-sref="app.representative({ id: '{{representative._id}}' })") {{representative.nome}}
              td(data-title=" 'Legislatura' ", sortable="'legislatura'", filter="{ 'legislatura': 'text' }") {{representative.legislatura | legislature}}
              td(data-title=" 'Partido' ", sortable="'partido'", filter="{ 'partido': 'text' }") {{representative.partido}}
              td(data-title=" 'Situação' ", sortable="'status'", filter="{ 'status': 'text' }") {{representative.status}}
              td(ng-show= "checkHouse()", data-title=" 'Estado' ", sortable="'uf_rep'", filter="{ 'uf_rep': 'text' }") {{representative.uf_rep}}

.row
  .col-lg-4
    .panel
      .panel-heading
        h3 Comissões
      .panel-body
        table.table.table-bordered.table-striped.text-center(ng-table='committeesTableParams', show-filter="true")
          tbody
            tr(ng-repeat="committee in $data")
              td(data-title=" 'Sigla' ", sortable="'initials'", filter="{ 'initials': 'text' }") {{committee.initials}}
              td(data-title=" 'Nome' ", sortable="'name'", filter="{ 'name': 'text' }")
                a(ui-sref="app.committee({ house:committee.house, committeeID: committee.refCode })") {{committee.name}}

  .col-lg-8
    .panel
      .panel-heading
        h3 Eventos
      .panel-body
        .panel(ng-init="renderCalender('myCalendar1');")
          .panel-heading
            h4 Clique em um evento para ver os detalhes.

          .panel-body
            div(ui-calendar="uiConfig.calendar" class="calendar" ng-model="eventSources" calendar="myCalendar1")

script(type="text/ng-template" id="modalContent.html")
  .modal-header
    em.pull-right.fa.fa-close(ng-click="dismiss()")
    h3.modal-titleEvent {{event.title}}
  .modal-body
    .form-horizontal
      .form-group.m0
        .col-sm-3.control-label-sm.m0
          label Local:
        .col-sm-9.form-control-static-sm.m0
          p {{event.place}}
      .form-group.m0(ng-if='event.end')
        .col-sm-12.control-label-sm.m0
          h4 Início
      .form-group.m0
        .col-sm-3.control-label-sm.m0
          label Data:
        .col-sm-9.form-control-static-sm.m0
          p {{event.start._i.replace(' ', 'T') | date:"fullDate"}}
      .form-group.m0
        .col-sm-3.control-label-sm.m0
          label Horário:
        .col-sm-9.form-control-static-sm.m0
          p {{event.start._i.replace(' ', 'T') | date:"shortTime"}}

      .form-group.m0(ng-if='event.end')
        .col-sm-12.control-label-sm.m0
          h4 Fim
      .form-group.m0(ng-if='event.end')
        .col-sm-3.control-label-sm.m0
          label Data:
        .col-sm-9.form-control-static-sm.m0
          p {{event.end._i.replace(' ', 'T') | date:"fullDate"}}
      .form-group.m0(ng-if='event.end')
        .col-sm-3.control-label-sm.m0
          label Horário:
        .col-sm-9.form-control-static-sm.m0
          p {{event.end._i.replace(' ', 'T') | date:"shortTime"}}
      p.text-right(ng-if="event.details")
        a(ng-href="{{event.details}}" target="_blank") Clique aqui&nbsp;
          em.fa.fa-external-link &nbsp;
        span para saber mais detalhes.

  .modal-footer
    button.btn.btn-primary(ng-click="$close()") OK
