h3 {{houseDetails.SLAs_NOME}} - {{houseDetails.SLAs_SIGLA}}

.row
  .col-lg-12
    .panel
      .panel-heading
        h3 Detalhes
      .panel-body
        p {{houseDetails.SLAs_DESC}}
.row
  .col-lg-12
    .panel
      .panel-heading
        h3 Mesa Diretora
      .panel-body
        .row
          .col-md-2.text-center(ng-repeat="representative in houseDetails.SLAs_MESA_DIRETORA")
            a(ui-sref="app.representative({ id: '{{representative.id}}' })")
              .thumbnail
                .caption
                  img.thumb128.b(ng-src="data:image/jpeg;base64,{{representative.photo}}")
                  strong.sigalei-color {{representative.Nome}}
                  p {{representative.Cargo}}

.row( ng-hide="houseDetails.SLAs_SIGLA == 'CN' ")
  .col-lg-12
    .panel
      .panel-heading
        h3 Deputados
      .panel-body
        table.table.table-bordered.table-striped.text-center(ng-table='representativeTableParams', show-filter="true")
          tbody
            tr(ng-repeat="representative in $data")
              td(data-title=" 'Nome' ", sortable="'nome'", filter="{ 'nome': 'text' }")
                a(ui-sref="app.representative({ id: '{{representative._id}}' })") {{representative.nome}}
              td(data-title=" 'Legislatura' ", sortable="'legislatura'", filter="{ 'legislatura': 'text' }") {{representative.legislatura | legislature}}
              td(data-title=" 'Partido' ", sortable="'partido'", filter="{ 'partido': 'text' }") {{representative.partido}}
              td(data-title=" 'Situação' ", sortable="'status'", filter="{ 'status': 'text' }") {{representative.status}}
              td(ng-show= "checkHouse()", data-title=" 'Estado' ", sortable="'uf_rep'", filter="{ 'uf_rep': 'text' }") {{representative.uf_rep}}

.row
  .col-lg-12
    .panel
      .panel-heading
        h3 Comissões
      .panel-body
        table.table.table-bordered.table-striped.text-center(ng-table='committeesTableParams', show-filter="true")
          tbody
            tr(ng-repeat="committee in $data")
              td(data-title=" 'Sigla' ", sortable="'initials'", filter="{ 'initials': 'text' }") {{committee.initials}}
              td(data-title=" 'Nome' ", sortable="'name'", filter="{ 'name': 'text' }")
                a(ui-sref="app.committee({ house:committee.house, committeeID: committee.refCode })") {{committee.name}}
.row
  .col-lg-12
    .panel
      .panel-heading
        h3 Eventos
      .panel-body
        table.table.table-striped.table-bordered.table-hover
          tbody
            div
              tr(ng-repeat="event in houseEvents | orderBy: 'date' | limitTo: 10")
                td
                  .media-box
                    .media-box-heading
                    h4.media-box-heading {{event.name}}
                    .media-box-body
                      .form-group
                        .control-label-sm.m0
                          label Data: &nbsp;
                          | {{event.date.replace(" ", "T") | date:"dd/MM/yyyy" || "Não Disponível"}}
                        .control-label-sm.m0
                          label Horário: &nbsp;
                          | {{event.date.replace(" ", "T") | date:"HH:mm" || "Não Disponível"}}
                        .control-label-sm.m0
                          label Local: &nbsp;
                          | {{event.place}}

        table.table.table-bordered.table-striped.text-center(ng-table='eventsTableParams', show-filter="true")
          tbody
            tr(ng-repeat="event in $data")
              td(data-title=" 'Data' ", sortable="'date'", filter="{ 'date': 'text' }") {{event.date.replace(" ", "T") | date:"dd/MM/yyyy 'às' HH:mm" || "Não Disponível"}}
              td(data-title=" 'Evento' ", sortable="'name'", filter="{ 'name': 'text' }") {{event.name}}
              td(data-title=" 'Local' ", sortable="'place'", filter="{ 'place': 'text' }") {{event.place}}