h3(data-ng-init="fetchData()") {{dados.SLPa_NOME_FANTASIA || dados.SLPa_NOME_CIVIL}}
.row
  .col-lg-12
    .row
      .col-lg-6
        .panel.widget
          .panel-body
            .form-horizontal
              h3 Dados Gerais
              .form-group

                .col-md-3
                  img.thumb128.b(ng-src="http://sigalei-api.mybluemix.net/v1/parlamentares/{{dados._id}}/foto?access_token=admin%40sigalei")
                .col-md-9
                  table
                    tr
                      td.text-bold  Nome:
                      td &nbsp;&nbsp;{{dados.SLPa_NOME_CIVIL}}
                    tr
                      td.text-bold  Data Nasc.:
                      td &nbsp;&nbsp;{{dados.SLPa_DATA_NASC | date:'dd/MM/yyyy'}}
                    tr
                      td.text-bold  Idade:
                      td &nbsp;&nbsp;{{dados.SLPa_DATA_NASC| ageFilter}}
                    tr
                      td.text-bold  Partido:
                      td &nbsp;&nbsp;{{dados.SLPa_PARTIDO}}
                    tr
                      td.text-bold  Profissão:
                      td &nbsp;&nbsp;{{dados.SLPa_PROFISSAO}}
                    tr
                      td.text-bold  Email:
                      td &nbsp;&nbsp;{{dados.SLPa_EMAIL | emailFilter}}
        .panel.widget(ng-controller='RepresentativeTermController')
          .panel-heading
            h3 Mandatos
          .panel-body
            table(class='table')
              thead
                tr.text-center
                  td Assembleia
                  td Cargo
                  td Legislatura
                  td Partido
                  td UF
                  td Situação
              tr.text-center(ng-repeat="item in terms")
                td(data-title="'Assembleia'") {{item.doc.SLM_ASSEMBLEIA.SLAs_NOME}}
                td(data-title="'Cargo'") {{item.doc.SLM_CARGO}}
                td(data-title="'Legislatura'") {{item.doc.SLM_LEGISLATURA}}
                td(data-title="'Partido'") {{item.doc.SLM_PARLAMENTAR.SLPa_PARTIDO}}
                td(data-title="'UF'") {{item.doc.SLM_UF_REP}}
                td(data-title="'Situação'") {{item.doc.SLM_STATUS}}
        .panel.widget(ng-controller='RepresentativeCommitteesController')
          .panel-heading
            h3 Comissões que participa
          .panel-body
            table(class='table')
              thead
                tr.text-center
                  td Assembleia
                  td Comissão
                  td Cargo
                  td Situação
              tr.text-center(ng-repeat="item in committeesRepresentative | orderBy:'-doc.SLMc_STATUS'")
                td(data-title="'Assembleia'") {{item.doc.SLMc_COMISSAO.SLC_ASSEMBLEIA.SLAs_SIGLA}}
                td(data-title="'Comissão'") {{item.doc.SLMc_COMISSAO.SLC_NOME}}
                td(data-title="'Cargo'") {{item.doc.SLMc_CARGO}}
                td(data-title="'Situação'") {{item.doc.SLMc_STATUS}}
      .col-lg-6
        .panel.widget(ng-controller='ChartJSController')
          .panel-heading
            .row
              .col-md-6
                h3 Área de Atuação
              .col-md-6
                a(ng-click="isSubtitleCollapsed = !isSubtitleCollapsed")
                  span(ng-show="isSubtitleCollapsed")
                    em.icon-close
                    |   &nbsp;Legenda
                  span(ng-show="!isSubtitleCollapsed")
                    em.icon-plus
                    |   &nbsp;Legenda
          .panel-body
            .row
              .col-md-4
                canvas(doughnutchart='', options='pieOptions', data='pieData', height='160', responsive='true')
              .col-md-offset-1.col-md-6
                table( ng-show="isSubtitleCollapsed")
                  tr(ng-repeat="item in themeData | orderObjectBy:'value'")
                    td {{item.key}}
                    td {{item.value}}

        .panel.widget(ng-controller='RepresentativeBillsController')
          .panel-heading
            h3 Proposições de sua Autoria
          .panel-body
            .table-responsive
              table.table
                thead
                  tr.text-center
                    td Proposição
                    td Data de Apresentação
                    td Tema
                    td Situação
                tr.text-center(ng-repeat="item in billsRepresentative | orderBy:'-doc.SLP_DATA_APRESENTACAO'")
                  td
                    a(ng-href="#/app/proposicao?p={{item.doc.SLP_NOME}}")
                      {{item.doc.SLP_NOME}}
                  td {{item.doc.SLP_DATA_APRESENTACAO | date:'dd/MM/yyyy'}}
                  td {{item.doc.SLP_SL_SUBTEMA}}
                  td {{item.doc.SLP_STATUS | statusDesc:item.doc.SLP_CASA_SIGLA}}




