.panel.widget(data-ng-init="fetchData()")
    .panel-heading
      h3 {{pollData.SLV_OBJETO_VOTACAO}}
      table
        tr
          td Resultado:
          td {{pollData.SLV_RESULTADO}}
        tr
          td SIM:
          td {{pollData.SLV_VOTOS_SIM}}
        tr
          td Nao:
          td {{pollData.SLV_RESULTADO}}
        tr
          td Abstenções:
          td {{pollData.SLV_VOTOS_ABSTENCOES}} 
        tr
          td Hora:
          td {{pollData.SLV_DATA_HORA | date:"dd/MM/yyyy 'às' HH:mm"}}

    .panel-body
      .table-responsive
        table.table.table-striped
          tr
            th Nome
            th Voto
          tr(ng-repeat="representative in pollData.SLV_VOTOS")
            td {{representative.PARLAMENTAR_NOME}}
            td {{representative.PARLAMENTAR_VOTO}}

