.col-md-12.pl0
    // START panel
    .panel.panel-dark.panel-flat
      .panel-heading
        h4 Dados da Conta
      .panel-body
        form.form-validate.mb-lg(role='form', name="changeSettingsForm", novalidate='', ng-submit="update()")
          .row
            .col-md-12
              .form-group.has-feedback
                label Nome:
                input.form-control(name="firstname", ng-model="firstname", required)
                span.fa.fa-pencil.form-control-feedback.text-muted
                span.text-danger(ng-show="changeSettingsForm.firstname.$error.required&& changeSettingsForm.firstname.$error.$dirty") &nbsp;&nbsp;Campo Obrigatório
          .row
            .col-md-12
              .form-group.has-feedback
                label Sobrenome:
                input.form-control(name="lastname", ng-model="lastname", required)
                span.fa.fa-pencil.form-control-feedback.text-muted
                span.text-danger(ng-show="changeSettingsForm.lastname.$error.required && changeSettingsForm.lastname.$error.$dirty") &nbsp;&nbsp;Campo Obrigatório
          .row
            .col-md-12
              .form-group.has-feedback
                label Organização:
                input.form-control(name="organization", ng-model="organization", required)
                span.fa.fa-building-o.form-control-feedback.text-muted
                span.text-danger(ng-show="changeSettingsForm.organization.$error.required && changeSettingsForm.organization.$error.$dirty") &nbsp;&nbsp;Campo Obrigatório

          .row(ng-hide="true")
            .col-md-12
              .form-group.has-feedback
                label Área de Interesse:
                select.form-control()
                  option.text-muted {{user.industry}}
          .row
            .col-md-12
              .form-group.has-feedback
                label Telefone:
                input.form-control(name="phone", ng-model="phone", ui-mask="{{ mask }}", number-validation )
                span.fa.fa-phone-square.form-control-feedback.text-muted

          .row
            .col-md-12
              .form-group.has-feedback
                label E-mail:
                p.form-control(disabled) {{user.email}}
                span.fa.fa-envelope.form-control-feedback.text-muted

          .row
              .col-md-12
                .form-group.has-feedback
                  label Notificações por e-mail:
                  select.form-control(name="emailDigestPeriod", ng-model="emailDigestPeriod" selected="emailDigestPeriod")
                    option.text-muted(value="4") A cada 4 horas
                    option.text-muted(value="24") Diariamente
                    option.text-muted(value="168") Semanalmente
                    option.text-muted(value="0") Não receber

          .row.text-center
              .col-md-12
                .form-group.has-feedback
                  button.btn.btn-success(type="submit", ng-disabled="changeSettingsForm.$invalid") Salvar Alterações
          .text-center(ng-if="showLoading")
            .ball-clip-rotate
              div
            p Carregando...
          .alert.text-center(ng-show='changeMessage && !showLoading', ng-class="changeSuccess?  'alert-success' : 'alert-danger' ") {{changeMessage}}
          .row.text-center
            hr
            p Caso tenha problemas em alterar seus dados, entre em contato pelo e-mail:
            p suporte@openlex.com.br
