h3 Dados da Conta
.row
  .block-center.mt-xl.wd-xxl
    // START panel
    .panel.panel-dark.panel-flat
      .panel-body
        form.form-validate.mb-lg(role='form', name="registerForm", novalidate='', ng-submit="register()")
          .row
            .col-md-12
              .form-group.has-feedback
                label Usuário:
                input.form-control(placeholder='{{user.name}}', disabled="true")
                span.fa.fa-user.form-control-feedback.text-muted
          .row
            .col-md-12
              .form-group.has-feedback
                label Nome:
                input.form-control(placeholder='{{user.firstname}}', disabled="true")
                span.fa.fa-pencil.form-control-feedback.text-muted
          .row
            .col-md-12
              .form-group.has-feedback
                label Sobrenome:
                input.form-control(placeholder='{{user.lastname}}', disabled="true")
                span.fa.fa-pencil.form-control-feedback.text-muted
          .row
            .col-md-12
              .form-group.has-feedback
                label Organização:
                input.form-control(placeholder='{{user.organization}}', disabled="true")
                span.fa.fa-building-o.form-control-feedback.text-muted
          .row
            .col-md-12
              .form-group.has-feedback
                label Área de Interesse:
                select.form-control(disabled="true")
                  option.text-muted(value='') {{user.industry}}
          .row
            .col-md-12
              .form-group.has-feedback
                label Telefone:
                input.form-control(type='text', name="register_phone" , placeholder="{{user.telephone}}", disabled="true")
                span.fa.fa-phone-square.form-control-feedback.text-muted

          .row
            .col-md-12
              .form-group.has-feedback
                label E-mail:
                input.form-control(placeholder='{{user.email}}', disabled="true")
                span.fa.fa-envelope.form-control-feedback.text-muted
          .row.text-center
            hr
            p Caso queira mudar algum dado, favor entrar em contato pelo e-mail:
            p suporte@openlex.com.br
