div(ng-controller="proposicaoController", data-ng-init="fetchData()")
	.page-header
		h2 {{dados.SLP_NOME}}
	.row
		.col-sm-12.col-md-6.well
			.page-header
				h3 Informações Gerais
			.form-horizontal
						.form-group
							.col-sm-3 Tipo: 
							.col-sm-9 
								strong {{dados.SLP_STATUS.CD.FASE}}

			.form-horizontal
						.form-group
							.col-sm-3 Temas:
							.col-sm-9 
								strong(ng-repeat="tema in dados.SLP_TEMA") {{tema}}
									br

			.form-horizontal
						.form-group
							.col-sm-3 Autor(es): 
							.col-sm-9 
								div(ng-repeat="autor in dados.SLP_AUTORES")
									strong {{autor.SLPa_NOME_FANTASIA}}
			.form-horizontal
						.form-group
							.col-sm-3 Ementa:
							.col-sm-9 
								strong {{dados.SLP_EMENTA}}

			.form-horizontal
						.form-group
							.col-sm-3 Data de Apresentação:
							.col-sm-9 
								strong {{dados.SLP_DATA_APRESENTACAO}}

			.form-horizontal
						.form-group
							.col-sm-3 Última Ação:
							.col-sm-9 
								strong {{dados.SLP_DATA_ATUALIZACAO}}

		.col-sm-12.col-md-6.well
			.page-header
				h3 Status Geral
			div(ng-if="dados.SLP_STATUS.CD.FASE != -1")
				.page-header
					h4 Câmara dos Deputados
				
				.form-horizontal
						.form-group
							.col-sm-4 Fase
							.col-sm-8 
								strong {{dados.SLP_STATUS.CD.FASE}}
				.form-horizontal
						.form-group
							.col-sm-4 Órgão Responsável:
							.col-sm-8 
								strong {{dados.SLP_STATUS.CD.ORG_DESC}}

				.form-horizontal
						.form-group
							.col-sm-4 Data:
							.col-sm-8 
								strong {{dados.SLP_STATUS.CD.DATA}}

				.form-horizontal
						.form-group
							.col-sm-4 Status:
							.col-sm-8 
								strong {{dados.SLP_STATUS.CD.DESC}}
					
			div(ng-if="dados.SLP_STATUS.SF.FASE != -1")
				.page-header
					h4 Senado Federal
				
				.form-horizontal
						.form-group
							.col-sm-4 Fase
							.col-sm-8 
								strong {{dados.SLP_STATUS.SF.FASE}}
				.form-horizontal
						.form-group
							.col-sm-4 Órgão Responsável:
							.col-sm-8 
								strong {{dados.SLP_STATUS.SF.ORG_DESC}}

				.form-horizontal
						.form-group
							.col-sm-4 Data:
							.col-sm-8 
								strong {{dados.SLP_STATUS.SF.DATA}}

				.form-horizontal
						.form-group
							.col-sm-4 Status:
							.col-sm-8 
								strong {{dados.SLP_STATUS.SF.DESC}}

div(ng-controller="tramitacaoController", data-ng-init="fetchData()")
	.row
		.col-sm-12.col-md-6.well
			.page-header
				h3 Tramitações
			.well.well-sm(ng-repeat="tramitacao in dados")
				.form-horizontal
					.form-group
						.col-sm-4 Data:
						.col-sm-8 {{tramitacao.doc.SLT_DATA_TRAMITACAO}}
					.form-group
						.col-sm-4 Origem:
						.col-sm-8 {{tramitacao.doc.SLT_ORGAO_ORIGEM_DESC}}
					.form-group
						.col-sm-4 Descrição:
						.col-sm-8 {{tramitacao.doc.SLT_DESCRICAO_TRAMITACAO}}