h3 {{dados.SLPa_NOME_FANTASIA || dados.SLPa_NOME_CIVIL}}
.row
  .col-lg-12
    .row
      // Column 1 START
      .col-lg-6
        // Dados Gerais START
        .panel.widget
          .panel-body
            .form-horizontal
              h3 Dados Gerais
              .form-group

                .col-md-3
                  img.thumb128.b(ng-src="data:image/jpeg;base64,{{RepresentativePhoto}}", id="photo-id")
                .col-md-9
                  table
                    tr
                      td.text-bold  Nome:
                      td &nbsp;&nbsp;{{dados.SLPa_NOME_CIVIL}}
                    tr
                      td.text-bold  Data Nasc.:
                      td &nbsp;&nbsp;{{dados.SLPa_DATA_NASC | date:'dd/MM/yyyy'}}
                    tr
                      td.text-bold  Idade:
                      td &nbsp;&nbsp;{{dados.SLPa_DATA_NASC| ageFilter}}
                    tr
                      td.text-bold  Partido:
                      td &nbsp;&nbsp;{{dados.SLPa_PARTIDO}}
                    tr
                      td.text-bold  Profissão:
                      td &nbsp;&nbsp;{{dados.SLPa_PROFISSAO}}
                    tr
                      td.text-bold  Email:
                      td &nbsp;&nbsp;{{dados.SLPa_EMAIL | emailFilter}}
        // Dados Gerais END

        // Mandatos START
        .panel.widget
          .panel-heading
            h3 Mandatos
          .panel-body
            .table-responsive
              table.table.table-striped.table-bordered.ng-table
                thead
                  tr
                    th.text-center Assembleia
                    th.text-center Cargo
                    th.text-center Legislatura
                    th.text-center Partido
                    th.text-center UF
                    th.text-center Situação
                tbody
                  tr.text-center(ng-repeat="item in terms")
                    td {{item.doc.SLM_ASSEMBLEIA.SLAs_NOME}}
                    td {{item.doc.SLM_CARGO}}
                    td {{item.doc.SLM_LEGISLATURA | legislature}}
                    td {{item.doc.SLM_PARLAMENTAR.SLPa_PARTIDO}}
                    td {{item.doc.SLM_UF_REP}}
                    td {{item.doc.SLM_STATUS}}
        // Mandatos END

        // Comissoes START
        .panel.widget
          .panel-heading
            h3 Comissões que participa
          .panel-body
            table.table.table-striped.table-bordered(ng-table='committeesTableParams', show-filter="true")
              tr.text-center(ng-repeat="item in $data")
                td(data-title="'Assembleia'", sortable="'SLMc_COMISSAO.SLC_ASSEMBLEIA.SLAs_SIGLA'", filter="{ 'SLMc_COMISSAO.SLC_ASSEMBLEIA.SLAs_SIGLA': 'text' }") {{item.SLMc_COMISSAO.SLC_ASSEMBLEIA.SLAs_SIGLA | houseFullName}}
                td(data-title="'Comissão'", sortable="'SLMc_COMISSAO.SLC_NOME'", filter="{ 'SLMc_COMISSAO.SLC_NOME': 'text' }")
                  a(ui-sref="app.committee({ house:item.SLMc_COMISSAO.SLC_ASSEMBLEIA.SLAs_SIGLA, committeeID: item.SLMc_COMISSAO.SLC_COD_REF })")
                    | {{item.SLMc_COMISSAO.SLC_NOME | limitTo: 100}} {{item.SLMc_COMISSAO.SLC_NOME.length > 100 ? "..." : ""}}
                td(data-title="'Cargo'", sortable="'SLMc_CARGO'", filter="{ 'SLMc_CARGO': 'text' }") {{item.SLMc_CARGO | capitalize}}
                td(data-title="'Situação'", sortable="'SLMc_STATUS'", filter="{ 'SLMc_STATUS': 'text' }") {{item.SLMc_STATUS}}
        // Comissoes END
      // Column 1 END

      // Column 2 START
      .col-lg-6
        // Atuacao START
        .panel.widget
          .panel-heading
            .row
              .col-md-6
                h3 Área de Atuação
              .col-md-6
                a(ng-click="isSubtitleCollapsed = !isSubtitleCollapsed")
                  span(ng-show="isSubtitleCollapsed")
                    em.icon-close
                    |   &nbsp;Legenda
                  span(ng-show="!isSubtitleCollapsed")
                    em.icon-plus
                    |   &nbsp;Legenda
          .panel-body
            .row
              .col-md-4
                canvas(doughnutchart='', options='pieOptions', data='pieData', height='160', responsive='true')
              .col-md-offset-1.col-md-6
                table( ng-show="isSubtitleCollapsed")
                  tr(ng-repeat="item in themeData | orderObjectBy:'value'")
                    td {{item.key}}
                    td {{item.value}}
        // Atuacao END
        // Proposicoes START
        .panel.widget
          .panel-heading
            h3 Proposições de sua Autoria
          .panel-body
            .table-responsive
              table.table.table-striped.table-bordered(ng-table='billsTableParams', show-filter="true")
                tr.text-center(ng-repeat="item in $data")
                  td(data-title=" 'Nome' ", sortable="'SLP_NOME'", filter="{ 'SLP_NOME': 'text' }")
                    a(ui-sref="app.bill({ billName:item.SLP_NOME})")
                      | {{item.SLP_NOME}}
                  td(data-title=" 'Apresentação' ", sortable="'SLP_DATA_APRESENTACAO'", filter="{ 'SLP_DATA_APRESENTACAO': 'text' }") {{item.SLP_DATA_APRESENTACAO | date:'dd/MM/yyyy'}}
                  td(data-title=" 'Tema' ", sortable="'SLP_SL_SUBTEMA'", filter="{ 'SLP_SL_SUBTEMA': 'text' }") {{item.SLP_SL_SUBTEMA}}
                  td(data-title=" 'Situação' ", sortable="'SLP_STATUS'", filter="{ 'SLP_STATUS': 'text' }") {{item.SLP_STATUS | statusDesc:item.SLP_CASA_SIGLA}}
                  td(data-title=" 'Ementa' ", sortable="'SLP_EMENTA'", filter="{ 'SLP_EMENTA': 'text' }") {{item.SLP_EMENTA | limitTo: 120}} {{ item.SLP_EMENTA.length > 120? ' ...' : ''}}
        // Proposicoes END

      // Column 2 END



