h3(ng-init="init()") Pesquisa

// START Filters
.row
  .col-lg-12
    .panel
      .panel-heading
        a(ng-click="isCollapsed = !isCollapsed")
          span(ng-show="isCollapsed")
            em.icon-plus
            |   &nbsp;Filtros
          span(ng-show="!isCollapsed")
            em.icon-close
            |   &nbsp;Filtros

      .panel-body(collapse="isCollapsed")
        .form-group
          .col-md-2.col-sm-2
            ui-select(multiple='', ng-model='checkedHouses.list', on-select='changeFilterHouses()',
              on-remove='changeFilterHouses()')
              ui-select-match(placeholder='Casas') {{$item}}
              ui-select-choices(repeat='house in availableHouses') {{house}}
          .col-md-2.col-sm-2
            ui-select(multiple='', ng-model='statusBill.list', on-select='changeFilterStatus()',
              on-remove='changeFilterStatus()')
              ui-select-match(placeholder='Situação') {{$item}}
              ui-select-choices(repeat='status in statusBillAvailable') {{status}}

          .col-md-2.col-sm-2
            ui-select(multiple='', ng-model='typeBill.list', on-select='changeFilterBillTypes()',
              on-remove='changeFilterBillTypes()')
              ui-select-match(placeholder='Tipo') {{$item}}
              ui-select-choices(repeat='type in billTypesAvailable') {{type}}

          .col-md-3.col-sm-3
            select.form-control(ng-model="themeSelected", ng-options="item.subtema group by item.tema for item in themesAndSubthemes", ng-change="changeFilterTheme()")
              option(value="") Tema

          .col-md-2.col-sm-2
            input.form-control.input-md(type="number", min="1980", max="2015", ng-model="year" ng-change="changeFilterYear()",placeholder='Ano')

          .col-md-1.col-sm-1.btn.btn-md.btn-default.dropdown-menu-right.pull-right(ng-click="cleanFilters()")
            | Limpar

  //END Filters
.row
  .col-lg-12
    // START panel
    .panel
      .panel-heading.clearfix
        label.pull-right.col-md-3.col-sm-3 Ordernar por:
          select.form-control(ng-model="orderedBy", ng-change="changeOrder()")
            option(value="1") Data de Atualização
            option(value="2") Relevância
        h2 Resultados
          small(ng-if="query != \"\" ") por "{{query}}"
        p(ng-if="!fetching") {{total_results}} projetos de lei encontrados


      // START table-responsive
      .table-responsive
        table.table.table-striped.table-bordered.table-hover
          tbody
            tr(ng-repeat="bill in bills")
              td
                .media-box
                    small.text-muted.pull-right Última atualização: {{toDate(bill.fields.SLP_DATA_ATUALIZACAO) | date:"dd/MM/yyyy"}}
                    .media-box-body
                      a(ui-sref="app.proposicao({ billName: '{{bill.fields.SLP_NOME}}' })")
                        h4.media-box-heading {{bill.fields.SLP_NOME}}
                          small.text-muted(ng-if="bill.fields.SLR_NOME != undefined")  ( ou {{bill.fields.SLR_NOME}} )
                      medium
                        | {{ (bill.fields.SLP_STATUS_DESC  | capitalize:true) || "-"}}

                      br(ng-if="bill.fields.SLR_NOME != undefined")
                      br
                      small.text-muted Autor:
                        //one author and doesn't have id
                        strong(ng-if="parseAuthor(bill.fields.SLP_AUTOR).id === undefined") {{parseAuthor(bill.fields.SLP_AUTOR).name}}

                        //one author and has id
                        strong(ng-if="getMainAuthor(bill.fields.SLP_AUTOR).id != undefined")
                          a(ng-href="#/app/parlamentar?id={{getMainAuthor(bill.fields.SLP_AUTOR).id}}") {{getMainAuthor(bill.fields.SLP_AUTOR).name}}

                        //get other authors
                        strong(ng-if="getMainAuthor(bill.fields.SLP_AUTOR).length != undefined") e&nbsp;
                          a(ng-click="showOtherAuthors = !showOtherAuthors") {{getMainAuthor(bill.fields.SLP_AUTOR).length}} outros
                          div(collapse="!showOtherAuthors")
                            strong(ng-repeat="author in bill.fields.SLP_AUTOR | orderBy", ng-show="! $last")
                              strong(ng-if="parseAuthor(author).id === undefined") {{parseAuthor(author).name}}

                              strong(ng-if="parseAuthor(author).id != undefined")
                                a(ng-href="#/app/parlamentar?id={{parseAuthor(author).id}}") {{parseAuthor(author).name}}
                              span(ng-show="$index != bill.fields.SLP_AUTOR.length - 2") ,
                      br
                      small.text-muted Tema: {{bill.fields.SLP_SL_TEMA || '-'}}
                      br
                      small.text-muted SubTema: {{bill.fields.SLP_SL_SUBTEMA}}
                      p {{bill.fields.SLP_EMENTA}}

            tr(ng-if="fetchingStart || fetchingMore")
              td(align="center")
                .ball-clip-rotate
                  div
                p Carregando...
            tr
              td
                button.btn.btn-block.btn-default(ng-click="moreResults()" ng-show="bills.length < total_results") Carregar Mais resultados
        // END table-responsive
      // END panel
