div(ng-controller="searchResults" data-ng-init="init()")
  .col-lg-3.col-md-3
    .panel.panel-default
      .panel-heading
        h3 Filtros
      .panel-body
        //filtro por casas legislativas
        .form-group.mb-xl
          label.control-label.mb Casas Legislativas
          br
          label.checkbox-inline.c-checkbox
            input(type='checkbox', ng-model="checkedHouses.CN", ng-click="changeFilterHouses()")
            |  Congresso Nacional
            span.pull-left.fa.fa-check
          br
          label.checkbox-inline.c-checkbox
            input(type='checkbox', ng-model="checkedHouses.SP", ng-click="changeFilterHouses()")
            |  São Paulo
            span.pull-left.fa.fa-check
          br
          label.checkbox-inline.c-checkbox
            input(type='checkbox', ng-model="checkedHouses.MG", ng-click="changeFilterHouses()")
            |  Minas Gerais
            span.pull-left.fa.fa-check
          br

        .form-group.mb-xl
          label.control-label.mb Tipo de Proposição
          br
          label.checkbox-inline.c-checkbox
            input(type='checkbox', ng-model="billTypes.PL", ng-click="changeFilterBillTypes()")
            |  Projeto de Lei Ordinário
            span.pull-left.fa.fa-check
          br
          label.checkbox-inline.c-checkbox
            input(type='checkbox', ng-model="billTypes.PLComp", ng-click="changeFilterBillTypes()")
            |  Projeto de Lei Complementar
            span.pull-left.fa.fa-check
          br
          label.checkbox-inline.c-checkbox
            input(type='checkbox', ng-model="billTypes.MPV", ng-click="changeFilterBillTypes()")
            |  Medida Provisoria
            span.pull-left.fa.fa-check
          br
          label.checkbox-inline.c-checkbox
            input(type='checkbox', ng-model="billTypes.PLN", ng-click="changeFilterBillTypes()")
            |  Projeto de Lei Nacional
            span.pull-left.fa.fa-check
          br
          label.checkbox-inline.c-checkbox
            input(type='checkbox', ng-model="billTypes.PEC", ng-click="changeFilterBillTypes()")
            |  Emenda Constitucional
            span.pull-left.fa.fa-check
          br

        .form-group.mb-xl
          label.control-label.mb Temas
          select.form-control(ng-model="themeSelected")
            option(value="", selected) Todos
            option(ng-repeat="object in themesAndSubthemes") {{object.tema}}

        .form-group.mb-xl(ng-hide="themeSelected == '' ")
          label.control-label.mb Subtemas
          select.form-control(ng-model="subthemeSelected")
            option(value="", selected) Todos
            option(ng-repeat="subtheme in getSubthemes(themeSelected)", value="{{subtheme}}") {{subtheme}}

        .form-group.mb-xl
          label.control-label.mb Ano
          br
          p.input-group
            input.form-control(type="number", min="1980", max="2015", ng-model="year" ng-change="changeFilterYear()")

        .form-group.mg-xl

        button.btn.btn-md.btn-default(ng-click="cleanFilters()") Limpar Filtros
  //END filters

  .col-lg-9.col-md-9
    // START panel
    .panel.panel-default
      .panel-heading
        paneltool(tool-refresh="standard")
        h3(ng-if="fetching")  Buscando
        h3(ng-if="!fetching") Resultados da busca
          small(ng-if="query != \"\" ") por "{{query}}"
        p(ng-if="!fetching") {{total_results}} projetos de lei encontrados
      // START table-responsive
      .table-responsive
        table.table.table-striped.table-bordered.table-hover
          thead
            tr
              th Descrição
                label.control-label.mb.pull-right Ordernar por: 
                  select(ng-model="orderedBy")
                    option(value="1") Data
                    option(value="2") Relevância
          tbody
            tr(ng-repeat="bill in bills")
              td
                .media-box
                    .media-box-body
                      a(ng-href="#/app/proposicao?p={{bill.fields.SLP_NOME}}")
                        h4.media-box-heading {{bill.fields.SLP_NOME}}
                      small.text-muted(ng-if="bill.fields.SLR_NOME != undefined") Outros Nomes: {{bill.fields.SLR_NOME}}
                      br(ng-if="bill.fields.SLR_NOME != undefined")
                      small.text-muted Autor: 
                        //one author and has id
                        strong
                          a(ng-if="getMainAuthor(bill.fields.SLP_AUTOR).id != undefined", ng-href="#/app/parlamentar?id={{getMainAuthor(bill.fields.SLP_AUTOR).id}}") {{getMainAuthor(bill.fields.SLP_AUTOR).name}}
                        //one author and doesn't have id
                        strong(ng-if="getMainAuthor(bill.fields.SLP_AUTOR).id === undefined") {{getMainAuthor(bill.fields.SLP_AUTOR).name}}
                          //get multiple authors
                        strong(ng-if="getMainAuthor(bill.fields.SLP_AUTOR).length != undefined") e 
                          a(popover-template="getOtherAuthorsPopover.templateUrl", popover-trigger="mouseover click") {{getMainAuthor(bill.fields.SLP_AUTOR).length}} outros
                      br
                      small.text-muted Última atualização: {{toDate(bill.fields.SLP_DATA_ATUALIZACAO) | date:"dd/MM/yyyy"}}
                      br
                      small.text-muted Tema: {{bill.fields.SLP_TEMA}}
                      p {{bill.fields.SLP_EMENTA}}
            tr(ng-if="fetching")
              td
                p Carregando...
            tr
              td
                button.btn.btn-block.btn-default(ng-click="moreResults()" ng-show="bills.length < total_results") Carregar Mais resultados
        // END table-responsive
      // END panel

script(type="text/ng-template", id="getOtherAuthorsPopover.html")
  | Hi!!