doctype html
html(lang="pt-br", data-ng-app="sigaLeiApp")

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    meta(name='description', content='Busque, acompanhe e analise os projetos de lei em discussão no Congresso Nacional e nas Assembleias Legislativas')
    meta(name='keywords', content='app, responsive, angular, bootstrap, dashboard, admin')

    title(data-ng-bind="::pageTitle()") SigaLei - Busque e acompanhe os projetos de lei em discussão no Congresso Nacional e nas Assembleias Legislativas
    // Bootstrap styles
    link(rel='stylesheet', href='app/css/bootstrap.css')

    // Application styles
    link(rel='stylesheet', href='app/css/app.css')

    // Themes
    link(rel='stylesheet', ng-href='{{app.layout.theme}}', data-ng-if="app.layout.theme")

    // Favicons
    link(rel='icon', href='app/img/favicon-32.png', sizes='32x32')
  body(data-ng-class="{'layout-h': true}")
    div(data-preloader)
    .wrapper(data-ui-view="", data-autoscroll='false')

    script(src='app/js/base.js')
    script(src='app/js/app.js')
    script(src='app/i18n/angular-locale_pt-br.js')
    script
        | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        | ga('create', 'UA-65800611-2', { 'cookieDomain': 'none' });

