.abs-center.wd-xl
  // START panel
  .text-center.mb-xl
    .text-lg.mb-lg 404
    p.lead.m0 Página não encontrada.
    p A página que você está buscando não existe.

  ul.list-inline.text-center.text-sm.mb-xl

    li: a.text-muted(href="", ui-sref="page.login") Login
    li.text-muted |
    li: a.text-muted(href="", ui-sref="page.signup") Registrar
    li.text-muted |
    li: a.text-muted(href="", ui-sref="app.dashBoard") Principal

  .p-lg.text-center
    span &copy;
    span(ng-bind="app.year")
    span  -
    span(ng-bind="app.name")
    br
    span(ng-bind="app.description")
