.block-center.mt-xl.wd-xl(ng-controller="LoginFormController")
  // START panel
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      a(href="#")
        img.block-center.img-rounded.wd-sm(src='app/img/logo.png', alt='Image')
    .panel-body
      p.text-center.pv LOGIN
      form.form-validate(role='form', ng-submit="login()", name='loginForm', novalidate='').mb-lg
        .form-group.has-feedback
          input#exampleInputEmail1.form-control(type='loginUser', name="account_login" placeholder='Usuário', autocomplete="off", ng-model="loginUser", required='')
          span.fa.fa-user.form-control-feedback.text-muted
          span.text-danger(ng-show="loginForm.account_login.$dirty && loginForm.account_login.$error.required") Obrigatório
        .form-group.has-feedback
          input#exampleInputPassword1.form-control(type='password', name="account_password" placeholder='Senha', ng-model="account.password", required='')
          span.fa.fa-lock.form-control-feedback.text-muted
          span.text-danger(ng-show="loginForm.account_password.$dirty && loginForm.account_password.$error.required") Obrigatório
        .clearfix
          .checkbox.c-checkbox.pull-left.mt0
            label
              input(type='checkbox', value='', name="account_remember", ng-model="account.remember")
              span.fa.fa-check
              |  Lembrar
          .pull-right
            a.text-muted(ui-sref="page.recover") Esqueceu a senha?

        button.btn.btn-block.btn-primary.mt-lg(type='submit') Entrar

      .alert.alert-danger.text-center(ng-show='authMsg') {{authMsg}}
      p.pt-lg.text-center Ainda não tem a conta?
      a(ui-sref="page.register").btn.btn-block.btn-default Registre Agora!
  // END panel
  .p-lg.text-center
    span &copy;
    span(ng-bind="app.year")
    span  -
    span(ng-bind="app.name")
    span -
    span Openlex
    br
    span(ng-bind="app.description")
