h3.block-center.mt-xl.wd-xxl
  // START panel
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      a(href="https://sigalei.openlex.com.br")
        img.block-center.img-rounded.wd-sm(src='app/img/logo.png', alt='Image')
    .panel-body
      div.text-center(ng-if="showLoading")
        .ball-clip-rotate
          div
        p Carregando...

      .alert.alert-danger.text-md.text-center(ng-show='authErrMsg') {{authErrMsg}}
      .alert.alert-success.text-md.text-center(ng-show='authSucMsg') {{authSucMsg}}
      .alert.alert-info.text-md.text-center(ng-show='authInfoMsg') {{authInfoMsg}}

  // END panel
