.block-center.mt-xl.wd-xl(ng-controller="RegisterFormController")
  // START panel
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      a(href="#")
        img.block-center.img-rounded.wd-sm(src='app/img/logo.png', alt='Image')
    .panel-body
      p.text-center.pv Registre-se para usar o SigaLei.
      form.form-validate.mb-lg(role='form', name="registerForm", novalidate='', ng-submit="register()")
        .form-group.has-feedback
          label.text-muted Usuário
          input.form-control(type='user', name="account_username" placeholder='Nome do usuário', autocomplete="off", ng-model="username", required='', ng-trim='false')
          span.fa.fa-user.form-control-feedback.text-muted
          span.text-danger(ng-show="registerForm.account_username.$dirty && registerForm.account_username.$error.required") Obrigatório
        .form-group.has-feedback
          label.text-muted E-mail
          input.form-control(type='email', name="account_email" placeholder='Enter email', autocomplete="off", ng-model="email", required='')
          span.fa.fa-envelope.form-control-feedback.text-muted
          span.text-danger(ng-show="registerForm.account_email.$dirty && registerForm.account_email.$error.required") Obrigatório
          span.text-danger(ng-show="registerForm.account_email.$dirty && registerForm.account_email.$error.email") E-mail inválido
        .form-group.has-feedback
          label.text-muted Senha
          input#id-password.form-control(type='password', name="account_password", ng-model="password", ng-pattern="/^[a-zA-Z0-9]{6,10}$/", required='')
          span.fa.fa-lock.form-control-feedback.text-muted
          span.text-danger(ng-show="registerForm.account_password.$dirty && registerForm.account_password.$error.required") Obrigatório
          span.text-danger(ng-show="registerForm.account_password.$dirty && registerForm.account_password.$error.pattern") Input should match 'a-zA-Z0-9' and 6-10 length
        .form-group.has-feedback
          label.text-muted Digite novamente a senha
          input.form-control(type='password', name="account_password_confirm", ng-model="account_password_confirm", ui-validate="'$value==password'" ui-validate-watch="'password'")
          span.fa.fa-lock.form-control-feedback.text-muted
          span.text-danger(ng-show="registerForm.account_password_confirm.$dirty && registerForm.account_password_confirm.$error.validator") Senhas digitadas diferentes
        .clearfix
          .checkbox.c-checkbox.pull-left.mt0
            label
              input(type='checkbox', required='', name="account_agreed", ng-model="account.agreed")
              span.fa.fa-check
              |  Eu concordo com os&nbsp;
              a(href="#") termos
        .text-danger(ng-show="registerForm.account_agreed.$dirty && registerForm.account_agreed.$error.required") Você deve concordar com os termos

        button.btn.btn-block.btn-primary.mt-lg(type='submit') Criar a conta

      .alert.alert-danger.text-center(ng-show='authMsg') {{authMsg}}

      p.pt-lg.text-center Você já tem uma conta?
      a(ui-sref="page.login").btn.btn-block.btn-default Entrar

  // END panel
  .p-lg.text-center
    span &copy;
    span(ng-bind="app.year")
    span  -
    span(ng-bind="app.name")
    span -
    span Openlex
    br
    span(ng-bind="app.description")
