.block-center.mt-xl.wd-xxl
  // START panel
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      a(href="https://sigalei.openlex.com.br")
        img.block-center.img-rounded.wd-sm(src='app/img/logo.png', alt='Image')
    .panel-body
      p.text-center.pv Registre-se para usar o SigaLei.
      form.form-validate.mb-lg(role='form', name="registerForm", novalidate='', ng-submit="register()")
        .row
          .col-md-12
            .form-group.has-feedback
              input.form-control(type='user', name="register_username" placeholder='Usuário', autocomplete="off", ng-model="register_username", required='', username-validation, ng-pattern="/^[a-z]+$/")
              span.fa.fa-user.form-control-feedback.text-muted
              span.text-danger(ng-show="registerForm.register_username.$dirty && registerForm.register_username.$error.required") &nbsp;&nbsp;Campo Obrigatório
              span.text-danger(ng-show="registerForm.register_username.$dirty && registerForm.register_username.$error.pattern") &nbsp;&nbsp;Campo não pode conter caracteres especiais

        .row
          .col-md-12
            .form-group.has-feedback
              input.form-control(type='text', name="register_firstname" placeholder='Nome', ng-model="register_firstname", required='')
              span.fa.fa-pencil.form-control-feedback.text-muted
              span.text-danger(ng-show="registerForm.register_firstname.$dirty && registerForm.register_firstname.$error.required") &nbsp;&nbsp;Campo Obrigatório
        .row
          .col-md-12
            .form-group.has-feedback
              input.form-control(type='text', name="register_lastname" placeholder='Sobrenome', ng-model="register_lastname", required='')
              span.fa.fa-pencil.form-control-feedback.text-muted
              span.text-danger(ng-show="registerForm.register_lastname.$dirty && registerForm.register_lastname.$error.required") &nbsp;&nbsp;Campo Obrigatório
        .row
          .col-md-12
            .form-group.has-feedback
              input.form-control(type='text', name="register_organization", placeholder='Organização (Empresa, Ong, Associação...)', ng-model="register_organization", required='', ng-trim='false')
              span.fa.fa-building-o.form-control-feedback.text-muted
              span.text-danger(ng-show="registerForm.register_organization.$dirty && registerForm.register_organization.$error.required") &nbsp;&nbsp;Campo Obrigatório
        .row
          .col-md-12
            .form-group.has-feedback
              select.form-control(ng-model="register_industry", name="register_industry", ng-options="value for value in industryOptions", required='')
                option.text-muted(value='') -- Área de Interesse --
              span.text-danger(ng-show="registerForm.register_industry.$dirty && registerForm.register_industry.$error.required") &nbsp;&nbsp;Campo Obrigatório
        .row
          .col-md-12
            .form-group.has-feedback
              input.form-control(type='text', name="register_phone" , ng-model="register_phone", number-validation, ui-mask="{{'(99) ?99999-9999' }}")
              span.fa.fa-phone-square.form-control-feedback.text-muted
              span.text-info &nbsp;&nbsp;Opcional

        .row
          .col-md-12
            .form-group.has-feedback
              input.form-control(type='email', name="register_email" placeholder='Email', autocomplete="off", ng-model="email", required='')
              span.fa.fa-envelope.form-control-feedback.text-muted
              span.text-danger(ng-show="registerForm.register_email.$dirty && registerForm.register_email.$error.required") Campo Obrigatório
              span.text-danger(ng-show="registerForm.register_email.$dirty && registerForm.register_email.$error.email") E-mail inválido
        .row
          .col-md-12
            .form-group.has-feedback
              input#id-password.form-control(type='password', name="register_password", ng-model="register_password", ng-pattern="/^[a-zA-Z0-9]{4,18}$/", required='',  placeholder="Senha")
              span.fa.fa-lock.form-control-feedback.text-muted
              span.text-danger(ng-show="registerForm.register_password.$dirty && registerForm.register_password.$error.required") Campo Obrigatório
              span.text-danger(ng-show="registerForm.register_password.$dirty && registerForm.register_password.$error.pattern") Senha pode conter somente os caracteres alfanumérico (a-zA-Z0-9) e ter o tamanho entre 4-18
        .row
          .col-md-12
            .form-group.has-feedback
              input.form-control(type='password', name="register_password_confirm", ng-model="register_password_confirm", ui-validate="'$value==register_password'" ui-validate-watch="'register_password'", placeholder="Confirme a senha")
              span.fa.fa-lock.form-control-feedback.text-muted
              span.text-danger(ng-show="registerForm.register_password_confirm.$dirty && registerForm.register_password_confirm.$error.validator") Senhas digitadas são diferentes
        .clearfix
          .checkbox.c-checkbox.pull-left.mt0
            label
              input(type='checkbox', required='', name="register_agreed", ng-model="account.agreed")
              span.fa.fa-check
              |  Eu concordo com os&nbsp;
              a(ng-click="openTerms()") termos
        .text-danger(ng-show="registerForm.register_agreed.$dirty && registerForm.register_agreed.$error.required") Você deve concordar com os termos

        button.btn.btn-block.btn-primary.mt-lg(type='submit') Criar a conta
        div.text-center(ng-if="showLoading")
          .ball-clip-rotate
            div
          p Carregando...
      .alert.alert-danger.text-center(ng-show='authMsg') {{authMsg}}
      .alert.alert-success.text-center(ng-show='authSucMsg') {{authSucMsg}}

      p.pt-lg.text-center Você já tem uma conta?
      a(ui-sref="page.login").btn.btn-block.btn-default Entrar
    .panel-footer
      a(ui-sref="page.signup-confirmation({token: 'resend'})")
        p.text-center.text-sm Reenviar email de verificação.
  // END panel
  .p-lg.text-center
    span &copy;
    span(ng-bind="app.year")
    span  -
    span(ng-bind="app.name")
    span -
    span Openlex
    br
    span Problemas?
    br
    span Entre em contato:
    br
    span suporte@openlex.com.br

script(type="text/ng-template", id="modalDialogTermId")
  .ngdialog-message
    h3 Termos e Condições de uso da ferramenta SigaLei.
    p Este termo regulamenta o uso da ferramenta SigaLei que é de propriedade da empresa Openlex. A empresa Openlex oferece uma página web no endereço www.openlex.com.br o acesso à ferramenta SigaLei. A ferramenta é atualmente gratuita e seu uso estará sujeito ao seu comprometimento com os termos e condições a seguir.
    p 1. Ao clicar em CONCORDO e realizar o acesso da ferramenta SigaLei, o usuário declara de forma irretratável e irrevogável que leu e está de acordo com os termos e condições de uso e se responsabiliza em garantir que os termos e condições sejam lidos com regularidade;
    p 2. Não são oferecidas garantias de que o site www.openlex.com.br oferecerá acesso ininterrupto para acesso à SigaLei;
    p 3. Ao solicitar o acesso à SigaLei, o usuário é direcionado para um formulário que deverá ser preenchido, sendo que não são oferecidas garantias de que o formulário de download oferecerá acesso ininterrupto para acesso à SigaLei;
    p 4. Não são oferecidas garantias de que o servidor no qual a versão de instalação da ferramenta SigaLei está armazenado oferecerá acesso ininterrupto aos usuários;
    p 5. A SigaLei trata-se de um software que se encontra em fase experimental e em fase de teste. Por esse motivo, não são oferecidas garantias de que a ferramenta SigaLei está livre de erros/defeitos ou que erros/defeitos na ferramenta serão corrigidos, incluindo neste item todos os possíveis arquivos gerenciados pela ferramenta. Ao encontrar um erro/defeito, o usuário pode reporta-lo enviando um e-mail para contato@openlex.com.br;
    p 6. Não são oferecidas garantias de que a ferramenta SigaLei estará disponível de forma gratuita em todas as suas possíveis versões;
    p 7. Não são oferecidas garantias de suporte ao uso da ferramenta SigaLei. Salienta-se que a SigaLei oferece suporte à condução de estudos que se utilizam do processo de acompanhamento da produção legislativa, sejam eles quais forem, é de inteira responsabilidade do usuário;
    p 8. Em nenhuma circunstância terá os autores da ferramenta responsabilidade sobre danos indiretos, acidentais, especiais ou consequenciais ou por quaisquer perdas de lucros, economias, receitas ou dados decorrentes ou relativos ao mau uso ou uso incorreto deste software ou ainda decorrentes de causas externas como, falha no hardware, falta de energia, instalação indevida ou configuração do sistema operacional;
    p 9. Este termo poderá ser rescindido a qualquer momento por qualquer uma das partes, havendo ou não infração de qualquer uma das cláusulas, bastando para isso a extinção do cadastro do usuário;
    p 10. A rescisão deste termo impedirá a utilização da SigaLei em virtude da não autorização de acesso, além da suspensão de qualquer tipo de suporte;
    p 11. Apenas os autores da ferramenta e pessoas por eles legalmente autorizadas estão aptas a ministrar qualquer tipo de palestra, curso, minicurso ou treinamento sobre a ferramenta SigaLei. Interessados em se tornar parceiros nessas ações podem entrar em contato enviando e-mail para contato@openlex.com.br;
    p 12. Os responsáveis pelo software se comprometem a não divulgar o nome, endereço de e-mail, instituição, telefone e demais informações solicitadas dos usuários da SigaLei;
    p 13. Os responsáveis pelo software se comprometem a não divulgar qualquer informação sobre os dados acompanhados pelos usuários da SigaLei, nem o modo como o usuário utiliza os dados disponibilizados pela ferramenta;
    p 14. A empresa Openlex reserva-se o direito de resolver os casos omissos e as situações não previstas neste termo e condições de uso da ferramenta SigaLei.
