a{
	color: #1A8B4C;
}

.sigalei-table-head{
	background-color: #aaa9a9;
	color: #fff;
	padding: 50%;
}

.doc-box-height{
	height: 200px;
	overflow: scroll;
}

.bill-box-height{
	height: 700px;
	overflow: scroll;
}

.img-logo-custom{
	height: 42px;
}