a{
	color: #1A8B4C;
}

.sigalei-table-head{
	background-color: #aaa9a9;
	color: #fff;
	padding: 50%;
}

.doc-box-height{
	height: 200px;
	overflow: scroll;
}

.bill-box-height{
	height: 450px;
	overflow: scroll;
}

.sigalei-bg{
	background-color: #1EA158;
}

.timeline-custom-badge{
	position:absolute;
	margin-top: 14px;
	margin-left: -48px;
	border-radius: 50%;
	height: 14px;
	width: 14px;
	.sigalei-bg;
}

.timeline-custom-date{
	position:absolute;
	margin-left: -70px;
	width:20px;
}

.sigalei-color{
	color: #1EA158;
}