<h3>Calendário das Sessões das Assembleias Legislativas - 2015</h3>
<div class="panel panel-default">
   <div class="panel-body">
      <div class="table-responsive">
         <table class="table table-bordered text-center test">
            <thead class="sigalei-table-head">
               <tr>
                  <td>Assembleia</td>
                  <td>Início das sessões regulares
                     <br/>(Primeiro Semestre)</td>
                  <td>Final das sessões regulares
                     <br/>(Primeiro Semestre)</td>
                  <td>Início das sessões regulares
                     <br/>(Segundo Semestre)</td>
                  <td>Final das sessões regulares
                     <br/>(Segundo Semestre)</td>
                  <td>Disponível no SigaLei</td>
               </tr>
            </thead>
            <tr class="success">
               <td>Congresso Nacional</td>
               <td>02 de fevereiro</td>
               <td>17 de julho</td>
               <td>1º de agosto</td>
               <td>22 de dezembro</td>
               <td>SIM</td>
            </tr>
            <tr>
               <td>Acre</td>
               <td>1º de fevereiro</td>
               <td>18 de julho</td>
               <td>31 de julho</td>
               <td>23 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr>
               <td>Alagoas</td>
               <td>1º de fevereiro</td>
               <td>30 de junho</td>
               <td>1º de agosto</td>
               <td>15 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr>
               <td>Amapá</td>
               <td>02 de fevereiro</td>
               <td class="xl68">30 de junho</td>
               <td>1º de agosto</td>
               <td>22 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr>
               <td>Amazonas</td>
               <td>1º de fevereiro</td>
               <td>16 de julho</td>
               <td>1º de agosto</td>
               <td>31 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr>
               <td>Bahia</td>
               <td>15 de fevereiro</td>
               <td>30 de junho</td>
               <td>1º de agosto</td>
               <td>15 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr>
               <td>Ceará</td>
               <td>02 de fevereiro</td>
               <td>17 de julho</td>
               <td>1º de agosto</td>
               <td>22 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr class="info">
               <td>Distrito Federal</td>
               <td>1º de fevereiro</td>
               <td>30 de junho</td>
               <td>1º de agosto</td>
               <td>15 de dezembro</td>
               <td>EM BREVE</td>
            </tr>
            <tr>
               <td>Espírito Santo</td>
               <td>02 de fevereiro</td>
               <td>17 de julho</td>
               <td>1º de agosto</td>
               <td>22 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr>
               <td>Goiás</td>
               <td>15 de fevereiro</td>
               <td>30 de junho</td>
               <td>1º de agosto</td>
               <td>15 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr>
               <td>Maranhão</td>
               <td>02 de fevereiro</td>
               <td>17 de julho</td>
               <td>1º de agosto</td>
               <td>22 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr>
               <td>Mato Grosso</td>
               <td>02 de fevereiro</td>
               <td>17 de julho</td>
               <td>1º de agosto</td>
               <td>22 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr>
               <td>Mato Grosso do Sul</td>
               <td>15 de fevereiro</td>
               <td>30 de junho</td>
               <td>16 de agosto</td>
               <td>15 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr class="success">
               <td>Minas Gerais</td>
               <td>1º de fevereiro</td>
               <td>18 de julho</td>
               <td>1º de agosto</td>
               <td>20 de dezembro</td>
               <td>SIM</td>
            </tr>
            <tr>
               <td>Pará</td>
               <td>15 de fevereiro</td>
               <td>30 de junho</td>
               <td>1º de agosto</td>
               <td>15 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr>
               <td>Paraíba</td>
               <td>1º de fevereiro</td>
               <td>20 de junho</td>
               <td>05 de julho</td>
               <td>20 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr>
               <td>Paraná</td>
               <td>02 de fevereiro</td>
               <td>17 de julho</td>
               <td>1º de agosto</td>
               <td>22 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr>
               <td>Pernambuco</td>
               <td>1º de fevereiro</td>
               <td class="xl68">30 de junho</td>
               <td>1º de agosto</td>
               <td>21 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr>
               <td>Piauí</td>
               <td>15 de fevereiro</td>
               <td>30 de junho</td>
               <td>1º de agosto</td>
               <td>15 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr class="info">
               <td>Rio de Janeiro</td>
               <td>1º de fevereiro</td>
               <td>30 de junho</td>
               <td>1º de agosto</td>
               <td>31 de dezembro</td>
               <td>EM BREVE</td>
            </tr>
            <tr>
               <td>Rio Grande do Norte</td>
               <td>15 de fevereiro</td>
               <td>30 de junho</td>
               <td>1º de agosto</td>
               <td>15 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr>
               <td>Rio Grande do Sul</td>
               <td>1º de fevereiro</td>
               <td>16 de julho</td>
               <td>1º de agosto</td>
               <td>22 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr>
               <td>Rondônia</td>
               <td>15 de fevereiro</td>
               <td>30 de junho</td>
               <td>1º de agosto</td>
               <td>15 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr>
               <td>Roraima</td>
               <td>15 de fevereiro</td>
               <td>30 de junho</td>
               <td>1º de agosto</td>
               <td>22 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr>
               <td>Santa Catarina</td>
               <td>02 de fevereiro</td>
               <td>17 de julho</td>
               <td>1º de agosto</td>
               <td>22 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr class="success">
               <td>São Paulo</td>
               <td>1º de fevereiro</td>
               <td>30 de junho</td>
               <td>1º de agosto</td>
               <td>15 de dezembro</td>
               <td class="xl69">SIM</td>
            </tr>
            <tr>
               <td>Sergipe</td>
               <td>15 de fevereiro</td>
               <td>30 de junho</td>
               <td>1º de agosto</td>
               <td>15 de dezembro</td>
               <td>NÃO</td>
            </tr>
            <tr>
               <td>Tocantins</td>
               <td>1º de fevereiro</td>
               <td>8 de julho</td>
               <td>1º de agosto</td>
               <td>30 de dezembro</td>
               <td>NÃO</td>
            </tr>
         </table>
      </div>
   </div>
</div>