<div ng-init="init()">
   <!-- START Filters-->
   <div class="col-lg-12">
      <div class="panel">
         <div class="panel-heading">
            <a ng-click="isCollapsed = !isCollapsed">
               <span ng-show="isCollapsed">
                  <em class="icon-plus"></em>&nbsp;Filtros</span>
               <span ng-show="!isCollapsed">
                  <em class="icon-close"></em>&nbsp;Filtros</span>
            </a>
         </div>
         <div collapse="isCollapsed" class="panel-body">
            <div class="form-group">
               <div class="col-md-2 col-sm-2">
                  <ui-select multiple="" ng-model="checkedHouses.list" on-select="changeFilterHouses()" on-remove="changeFilterHouses()">
                     <ui-select-match placeholder="Casas">{{$item}}</ui-select-match>
                     <ui-select-choices repeat="house in availableHouses">{{house}}</ui-select-choices>
                  </ui-select>
               </div>
               <div class="col-md-2 col-sm-2">
                  <ui-select multiple="" ng-model="statusBill.list" on-select="changeFilterStatus()" on-remove="changeFilterStatus()">
                     <ui-select-match placeholder="Situação">{{$item}}</ui-select-match>
                     <ui-select-choices repeat="status in statusBillAvailable">{{status}}</ui-select-choices>
                  </ui-select>
               </div>
               <div class="col-md-2 col-sm-2">
                  <ui-select multiple="" ng-model="typeBill.list" on-select="changeFilterBillTypes()" on-remove="changeFilterBillTypes()">
                     <ui-select-match placeholder="Tipo">{{$item}}</ui-select-match>
                     <ui-select-choices repeat="type in billTypesAvailable">{{type}}</ui-select-choices>
                  </ui-select>
               </div>
               <div class="col-md-3 col-sm-3">
                  <select ng-model="themeSelected" ng-options="item.subtema group by item.tema for item in themesAndSubthemes" ng-change="changeFilterTheme()" class="form-control">
                     <option value="">Tema</option>
                  </select>
               </div>
               <div class="col-md-2 col-sm-2">
                  <input type="number" min="1980" max="2015" ng-model="year" ng-change="changeFilterYear()" placeholder="Ano" class="form-control input-md" />
               </div>
               <div ng-click="cleanFilters()" class="col-md-1 col-sm-1 btn btn-md btn-default dropdown-menu-right pull-right">Limpar</div>
            </div>
         </div>
      </div>
   </div>
   <!--END Filters-->
   <div class="col-lg-12">
      <!-- START panel-->
      <div class="panel">
         <div class="panel-heading clearfix">
            <label class="pull-right col-md-2 col-sm-2">Ordernar por:
               <select ng-model="orderedBy" ng-change="changeOrder()" class="form-control">
                  <option value="1">Data</option>
                  <option value="2">Relevância</option>
               </select>
            </label>
            <h2>Resultados</h2>
            <small ng-if="query != &quot;&quot; ">por "{{query}}"</small>
            <p ng-if="!fetching">{{total_results}} projetos de lei encontrados</p>
         </div>
         <!-- START table-responsive-->
         <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
               <tbody>
                  <tr ng-repeat="bill in bills">
                     <td>
                        <div class="media-box">
                           <small class="text-muted pull-right">Última atualização: {{toDate(bill.fields.SLP_DATA_ATUALIZACAO) | date:"dd/MM/yyyy"}}</small>
                           <div class="media-box-body">
                              <a ng-href="#/app/proposicao?p={{bill.fields.SLP_NOME}}">
                                 <h4 class="media-box-heading">{{bill.fields.SLP_NOME}}</h4>
                              </a>
                              <medium>{{ (bill.fields.SLP_STATUS_DESC | capitalize:true) || "-"}}</medium>
                              <br/>
                              <small ng-if="bill.fields.SLR_NOME != undefined" class="text-muted">Outros Nomes: {{bill.fields.SLR_NOME}}</small>
                              <br ng-if="bill.fields.SLR_NOME != undefined" />
                              <small ng-if="bill.fields.SLR_NOME != undefined" class="text-muted">Outros Nomes: {{bill.fields.SLR_NOME}}</small>
                              <small class="text-muted">Autor:
                                 <!--one author and doesn't have id-->
                                 <strong ng-if="parseAuthor(bill.fields.SLP_AUTOR).id === undefined">{{parseAuthor(bill.fields.SLP_AUTOR).name}}</strong>
                                 <!--one author and has id-->
                                 <strong ng-if="getMainAuthor(bill.fields.SLP_AUTOR).id != undefined"><a ng-href="#/app/parlamentar?id={{getMainAuthor(bill.fields.SLP_AUTOR).id}}">{{getMainAuthor(bill.fields.SLP_AUTOR).name}}</a>
                                 </strong>
                                 <!--get other authors-->
                                 <strong ng-if="getMainAuthor(bill.fields.SLP_AUTOR).length != undefined">e&nbsp;<a ng-click="showOtherAuthors = !showOtherAuthors">{{getMainAuthor(bill.fields.SLP_AUTOR).length}} outros</a>
                                    <div collapse="!showOtherAuthors">
                                       <strong ng-repeat="author in bill.fields.SLP_AUTOR | orderBy" ng-show="! $last">
                                          <strong ng-if="parseAuthor(author).id === undefined">{{parseAuthor(author).name}}</strong>
                                          <strong ng-if="parseAuthor(author).id != undefined"><a ng-href="#/app/parlamentar?id={{parseAuthor(author).id}}">{{parseAuthor(author).name}}</a>
                                          </strong>
                                          <span ng-show="$index != bill.fields.SLP_AUTOR.length - 2">,</span>
                                       </strong>
                                    </div>
                                 </strong>
                              </small>
                              <br/>
                              <small class="text-muted">Tema: {{bill.fields.SLP_SL_TEMA || '-'}}</small>
                              <br/>
                              <small class="text-muted">SubTema: {{bill.fields.SLP_SL_SUBTEMA}}</small>
                              <p>{{bill.fields.SLP_EMENTA}}</p>
                           </div>
                        </div>
                     </td>
                  </tr>
                  <tr ng-if="fetching">
                     <td align="center">
                        <div class="ball-clip-rotate">
                           <div></div>
                        </div>
                        <p>Carregando...</p>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <button ng-click="moreResults()" ng-show="bills.length &lt; total_results" class="btn btn-block btn-default">Carregar Mais resultados</button>
                     </td>
                  </tr>
               </tbody>
            </table>
            <!-- END table-responsive-->
         </div>
         <!-- END panel-->
      </div>
   </div>
</div>