
// START Sidebar (left)
.aside-inner
  nav.sidebar(sidebar="")
    // START sidebar nav
    ul.nav
      li
        a(ui-sref="app.favorites.folder")
          em(class="fa fa-tag")
    // END sidebar nav

// END Sidebar (left)
