// START Top Navbar
nav.navbar.topnavbar(role='navigation')
  // START navbar header
  .navbar-header
    a.navbar-brand(href='#/app/dashboard')
      .brand-logo
        img.img-responsive(src="app/img/logo_3x.png", alt="SigaLei")
      .brand-logo-collapsed
        img.img-responsive(src="app/img/logo_small_3x.png", alt="SigaLei")

  // END navbar header

  // START Nav wrapper
  .nav-wrapper
    // START Left navbar
    ul.nav.navbar-nav
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
          a(trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed").hidden-xs
            em.fa.fa-navicon
        // Button to show/hide the sidebar on mobile. Visible on mobile only.
        a(ng-click="app.asideToggled = !app.asideToggled; navCollapsed = !navCollapsed").visible-xs.sidebar-toggle
          em.fa.fa-navicon
    // END left navbar

    .navbar-collapse(collapse="navCollapsed" ng-init="navCollapsed = true")
      .nav.navbar-left.col-md-4.col-lg-6
        form.navbar-form(ng-controller="SearchBarController", ng-submit="searchQ(); navCollapsed = !navCollapsed")
          .form-group.has-feedback
            input.form-control(type="text", ng-model="query", placeholder="{{'topbar.search.PLACEHOLDER' | translate }}")
            button.btn-inline.fa.fa-search.form-control-feedback.sigalei-search(type="submit")

  // END Nav wrapper


// END Top Navbar

